<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory suffix=".php">./tests</directory>
            <exclude>./tests/test-cli</exclude>
        </testsuite>
        <testsuite name="CLI Test Suite">
            <directory suffix=".php">./tests/test-cli</directory>
        </testsuite>
    </testsuites>
</phpunit>
